<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="register-form">
        <div class="alert alert-danger" *ngIf="invalidFormMessage" role="alert">
            {{invalidFormMessage}}
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" formControlName="username">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" formControlName="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <div class="mb-3">
            <label for="repass" class="form-label">Repeat password</label>
            <input type="password" class="form-control" id="repass" formControlName="repass">
        </div>
        <button type="submit" class="btn btn-primary float-end" [disabled]="registerForm.invalid">Submit</button>
    </form>
</div>